blinker
certifi
charset-normalizer
click
et-xmlfile
Flask
idna
itsdangerous
Jinja2
MarkupSafe
numpy
openpyxl
pandas
pypng
python-dateutil
pytz
qrcode
requests
six==1.16.0
typing_extensions
tzdata
urllib3
Werkzeug
